{% extends 'base.html.twig' %}

{% block title %} Arbeitszeiten {{ user.getName() }} {% endblock %}

{% block body %}
    <h1>{{ user.getName() }}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tag</th>
                <th>Arbeitszeit</th>
                <th>Notizen</th>
                <th>Anderes</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for data in workday_data %}
            <tr>
                <td>{{ data.workday_date }}</td>
                <td>von {{ data.worked_from }} bis {{ data.worked_to }}, insgesamt {{ data.worked_time }}</td>
                <td><textarea class="form-control" rows="2" id="comment">{{ data.notes }}</textarea></td>
                <td>
                    <label class="checkbox-inline"><input type="checkbox" value="">Urlaub</label>
                    <label class="checkbox-inline"><input type="checkbox" value="">Krank</label>
                </td>
                <td>
                    <button type="button" class="btn btn-primary">Absenden</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-default" onclick="location.href='/'";>zurück zur Übersicht</button>
{% endblock %}